/* 
    space-between: pushes out space as much as it can
    padding: adds space inside element/container
    margin: outside
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:990px) {

}

.app-dropdown {
    width: 50vw;
}

.logo {
    display: flex;
    justify-items: center;
}

.logo > h2 {
    margin:20px;
    font-size: 35px;
}

.line-chart {
    position: relative;
    bottom:220px;
    left: 45px;
}