.test {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    align-items: center;
    height: 400px;
    overflow: scroll;
    color: grey;
}

.table > tr {
    padding: 40px;
}

.table > td {
    padding: 50px !important;
}

.table tr:nth-of-type(odd) {
    /* background-color:#f3f2f8; */
    background-color: rgba(255, 166, 0, 0.24);
}

.th {
    display: grid;
    place-items: center;
}